nav {
   font-size: 2rem;
   background-color: #4c96d7;
   font-family: 'Bangers', cursive;
   padding: .5rem;
}

.navbar a:hover {
    background-color: #3a3a3a;
    color: #a6cbeb;
    padding: .5rem;
}

.navbar a {
    text-align: center;
}